.container{
    margin-top: 121px;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #367FBF;
}

.cont-svg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f000, #ff00ffa6);
    clip-path: circle(30% at right 70%);
}
.cont-svg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #6BE5F2);
    clip-path: circle(30% at 10% 10%);
}
.cont-girl {
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    z-index: 1;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, .05);
    backdrop-filter: blur(10px);
    overflow-x:auto;
}

.circle{
    border: 10px solid rgba(0, 0, 0, 0.25);
    border-radius:50%;
}
.cont-girl svg {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 34px;
    width: 390px;
    height: 515px;
    object-fit: cover;
}
.cont-man {
    padding: 20px;
    margin:0px 15px 0px 0px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, .05);
    backdrop-filter: blur(10px);
    overflow-x:auto;


}

.cont-man svg{
box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(10px);
border-radius: 34px;
width: 390px;
height: 515px;
object-fit: cover;
}


@media (max-width: 990px){
    .cont-svg{
        flex-direction: column;
    }
    .cont-svg .cont-man{
        width: 100%;
        margin:0px 0px 50px 0px;
    }
    .cont-svg .cont-girl{
        width: 100%;
        margin:0px 0px 50px 0px;
    }
    .tableTeam{
        padding:0px !important;
    }
}
@media (max-width: 366px){
    /* .cont-svg .cont-girl{
        width:auto !important;
    } */
    .cont-girl svg{
        width:240px;
    }
    /* .cont-svg .cont-man{
        width: auto;
    } */
    .cont-man svg{
        width:240px;
    }
}

@media(max-width: 270px){
    .tableTeam{
        overflow-x:auto;
    }
}

.cont-svg{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container img{
    max-width: 150px;
}

.container h2{
    text-align: center;
    font-size: 2em;
    color:#fff;
    font-weight: 500;
}


.cont-Button{
    margin:10px 0px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cont-Button .button-man {
    position: relative;
    border: 0px;
    cursor: pointer;
    z-index: 1;
    padding: 12px 36px;
    margin:10px 0px;
    color:#fff;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    transition: .5s;
    background: linear-gradient(90deg, #367fbf, #55e7fc);
}
.cont-Button .button-man:hover{
    transform:  scale(.9);
    animation: pulse2 1s linear infinite;
}
@keyframes pulse2{
    0%{
    box-shadow: 0px 0px 15px rgba(85, 231, 252);
    }
    50%{
    box-shadow:0px 0xp 25px  rgba(54, 127, 191);
    }
    100%{
    box-shadow: 0px 0px 15px rgba(85, 231, 252);

    }
}
.cont-Button .button-girl{
    position: relative;
    border: 0px;
    cursor: pointer;
    z-index: 1;
    padding: 12px 36px;
    margin:10px 0px;
    color:#fff;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    transition: .5s;
    background: linear-gradient(90deg, #755bea, #ff72c0);
}

.cont-Button .button-girl:hover{
    transform:  scale(.9);
    animation: pulse 1s linear infinite;
}

@keyframes pulse{
    0%{
    box-shadow: 0px 0px 15px rgba(117, 91, 234);
    }
    50%{
    box-shadow:0px 0xp 25px rgba(255, 114, 192);
    }
    100%{
    box-shadow: 0px 0px 15px rgba(117, 91, 234);

    }
}

.cont-num{
    margin:48px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

}
.cont-num .cont-man-table{
    display: flex;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 20px 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.cont-title {
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    text-align: center;
    align-items: center;
}
.cont-title span {
    font-weight: 500;
    letter-spacing: 5px;
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
}

.animation-girl span{
    animation: anititle  1s ease-in-out infinite, animationTitleColor 1s linear infinite;
    animation-delay: calc(0.1s * var(--I));
     animation-duration: 1s;
}
.animation-man span{
    animation: anititle  1s ease-in-out infinite, animationTitleColorMan 1s linear infinite;
    animation-delay: calc(0.1s * var(--I));
    animation-duration: 1s;
}
@keyframes anititle {
	0%{
		transform: translateY(0px);
	}
	20%{
		transform: translateY(-20px);
	}
    40%,100%{
		transform: translateY(0px);
	}
}
@keyframes animationTitleColorMan{
	0%,100%{
		color:#fff;
		filter: blur(2px);
		text-shadow: 0 0 10px #55e7fc,
					0 0 20px #55e7fc,
					0 0 20px #55e7fc,
					0 0 80px #55e7fc,
					0 0 20px #55e7fc,
					0 0 20px #55e7fc,
					0 0 10px #55e7fc;
	}
	5%,95%{
		filter: blur(0px);
		text-shadow:  none;
	}
}
@keyframes animationTitleColor{
	0%,100%{
		color:#fff;
		filter: blur(2px);
		text-shadow: 0 0 10px #ff72c0,
					0 0 20px #ff72c0,
					0 0 20px #ff72c0,
					0 0 80px #ff72c0,
					0 0 20px #ff72c0,
					0 0 20px #ff72c0,
					0 0 10px #ff72c0;
	}
	5%,95%{
		filter: blur(0px);
		text-shadow:  none;
	}
}


.num span {
    margin-top: 29px;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    color: #55e7fc;
    width: auto;
}
.cont-num .cont-girl-table{
    display: flex;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 20px 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.num .colorGirl{
    color:#ff72c0;
}


.tableTeam td {
    padding: 8px 15px;
    overflow-y:auto;
    border-radius:5px;
    background: #eef4ff;
    color: #4a567c;
    text-shadow: 0 1px 5px rgba(142, 136, 192, 0.2);
    border: 1px solid #2e2a2a !important;
    font-size: 0.9em;
    font-weight: 500;
    text-align: left;
    transition: all 300ms ease-out;
}
.tableTeam{
    padding:0px 50px;
    width:100%;
}
.tableTeam table{
    overflow-x:auto;
}

